[package]
name = "ctranslate2-server"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8.8"
ct2rs = { version = "0.9.16", features = ["cuda", "dnnl", "mkl", "whisper"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
tokio = { version = "1.49.0", features = ["full"] }
tower = { version = "0.5.3", features = ["util"] }
tracing = "0.1.44"
tracing-subscriber = { version = "0.3.22", features = ["env-filter"] }
